<h1>Hey, <%= @user.username %>!</h1>

Thanks for signing up for swapr. We're excited to make all your file sharing dreams come true.

We appreciate your discretion with regards to International treaties and laws concerning
Intellectual Property etc etc.

Best Regards,
Brit Butler (<b>Jackass</b>)
